<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GieriLang IDE</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="../img/logo.png" />
</head>
<body>
    <!-- Header Component -->
    <div class="header">
        <img class="header__img" src="../img/logo.png" />
        <div class="header__title">Welcome to GieriLang IDE</div>
        <div class="header__subtitle">The original IDE of the Hackable Language</div>
        <div class="header__btn">
            <a href="code.html" class="btn">Code Now!</a>
        </div>
    </div>
</body>
</html>