@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInOpacity {
    0% {
        opacity: 0;
    }
     100% {
         opacity: 1;
     }
}


@keyframes blinker {
    50% {
      opacity: 0;
    }
}

@keyframes toOrange {
    from {
        background: #3a3a3a;
    }

    to {
        background: -webkit-linear-gradient(left, #ffc04a, #ff6347);
    }
}

@keyframes toGray {
    from {
        background: -webkit-linear-gradient(left, #ffc04a, #ff6347);
    }

    to {
        background: #3a3a3a;
    }
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.header__img {
    width: 200px;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.header__title {
    font-size: 2.3rem;
    margin-bottom: .5vh;
    color: #3a3a3a;
    animation: moveInTop 1s ease-out .75s backwards;
    /*color: linear-gradient(#ffc04a, #ff6347)*/
}

.header__subtitle {
    font-size: 1rem;
    /* opacity: 0; */
    color: #3a3a3a;
    margin-bottom: 3.5vh;
    animation: moveInOpacity 1s ease-out 1.50s backwards;
}

.btn {
    padding: 10px 15px;
    color: white;
    background: -webkit-linear-gradient(left, #ffc04a, #ff6347);
    border-radius: 20px;
    animation: moveInOpacity 1s ease-out 2s backwards;
    transition: all 0.2s ease-out;
}

.btn:hover {
    transform: scale(2);
}

.compatibility {
    text-align: center;
    margin-top: 10vh;
    font-family: 'Montserrat', sans-serif;
}

.compatibility__title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #3a3a3a;
    animation: moveInRight 1s ease-out 2.5s backwards;
}

.compatibility__logos {
    animation: moveInOpacity 1s ease-out 3s backwards;
}

.compatibility__logo {
    margin: 20px;
    font-size: 2.5rem;
    padding: 20px 25px;
    border-radius: 150px;
    color: white;
    background-color: #3a3a3a;
    animation: toGray .3s;
}

.compatibility__logo:hover {
    animation: toOrange .3s ease;
    background: -webkit-linear-gradient(left, #ffc04a, #ff6347);
}

.compatibility__description {
    margin-top: 20px;
    font-size: 1.1rem;
    animation: moveInTop 1s ease-out 3.5s backwards;
    font-weight: bolder;
    color: #3a3a3a;
}

.hackable {
    text-align: center;
    margin-top: 10vh;
    font-family: 'Montserrat', sans-serif;
}

.hackable__title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #3a3a3a;
    animation: moveInRight 1s ease-out 4s backwards;
}

.hackable__logo {
    font-size: 14rem;
    color: #3a3a3a;
    animation: moveInOpacity 1s ease-out 4.5s backwards;
}

.hackable__logo-text {
    position: relative;
    bottom: 14ch;
    /*background: -webkit-linear-gradient(left, #ffc04a, #ff6347);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    color: #3a3a3a;
    font-weight: bolder;
    animation: moveInOpacity 1s ease-out 4.5s backwards;
}

.wrap {
    color: #3a3a3a;
}

/*TODO: Animazione colorata quando si va sopra con il mouse*/

.hackable__description {
    margin-top: 20px;
    font-size: 1.1rem;
    animation: moveInTop 1s ease-out 5s backwards;
    font-weight: bolder;
    color: #3a3a3a;
    margin-bottom: 10vh;
}