@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInOpacity {
    0% {
        opacity: 0;
    }
     100% {
         opacity: 1;
     }
}


@keyframes blinker {
    50% {
      opacity: 0;
    }
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.header__img {
    width: 200px;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.header__title {
    font-size: 2.3rem;
    margin-bottom: .5vh;
    color: #3a3a3a;
    animation: moveInTop 1s ease-out .75s backwards;
    /*color: linear-gradient(#ffc04a, #ff6347)*/
}

.header__subtitle {
    font-size: 1rem;
    /* opacity: 0; */
    color: #3a3a3a;
    margin-bottom: 3.5vh;
    animation: moveInOpacity 1s ease-out 1.50s backwards;
}

.btn {
    padding: 10px 15px;
    color: white;
    background: -webkit-linear-gradient(left, #ffc04a, #ff6347);
    border-radius: 20px;
    animation: moveInOpacity 1s ease-out 2s backwards;
    transition: transform .2s;
}

.btn:hover {
    transform: scale(50);
}


i {
    color: #ffbe4a !important;
    animation: blinker 1s linear infinite;
}